body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: #630000;
}

.fondoLenovo {
    background-color: #EEEBDD;
}

.lenovoImg {
    background-color: white;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 9px 2px 7px 4px rgba(0,0,0,0.75);
    padding: 3rem;
} 

.infoLenovo {
    background-color: rgb(27, 23, 23);
    padding-bottom: 3rem;
    color: white;
}
.list {
    font-size: 1.2rem;
}

.comments {
    background-color: rgb(99, 0, 0);
}

/* .newComment {
    background-color: #d94125;
} */