body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: #630000;
}
.title {
    margin-top: 3rem;
    color: white;
    font-weight: 500;
    /* border-bottom: 6px ridge #50b4ff; */
}

.Interior {
    padding: 0.7rem;
    background-color:  #EEEBDD;
    border-radius: 4px;
}

/* .fotosPrincipales {
    margin-bottom: 1rem !important;
    width: 100vh;
    height: 100vh;
} */

.Pc {
    box-shadow: 1px 0px 7px 01px rgba(0,0,0,0.75);
}

.ComputerComponents {
    background-color: #1B1717;
    padding-bottom: 4rem;
}

.bluePage {
    color: white;
}



